@using ZSZ.Common
@{
  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Pager1</title>
</head>
<body>
  <div>
    @{
      Pager pager = new Pager
      {
        CurrentPageClassName = "active",
        MaxPagerCount = 10,
        PageIndex = 3,
        PageSize = 50,
        TotalCount = 809,
        UrlPattern = "/Data/{pn}"
      };
    }
    @Html.Raw(pager.GetPagerHtml());
  </div>
</body>
</html>
