
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestJson</title>
  <script src="http://libs.baidu.com/jquery/1.9.0/jquery.min.js"></script>
  <script type="text/javascript">
    $(function () {
      $("#btn1").click(function () {
        $.ajax({
          url: "/Default/TestJson",
          dataType: "json",
          type: "post",
          success: function (data) {
            alert(data.name + "," + data.birthDate);
          },
          error: function () {
            alert("Error with ajax post request")
          }
        });
      });
    });
  </script>
</head>
<body>
    <div> 
      <button id="btn1" name="Ajax Post1">Ajax Post</button>
    </div>
</body>
</html>
